# Folders
/dist
/discloud
/deprecated
/node_modules

# Files
/.env
/.env.development
/.env.example
/package-lock.json

# Config files
/firebase.json
/discloud.config

# Extensions
*.zip
*.sqlite
*.exe
*.db
*.development.json